<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    
    <div>
      <figure class="pic-b">
        <img class="pictures" ngSrc="/BillGates.jpg" alt="" height="300" width="210" priority>
        <figcaption>
          <h3>Bill Gates</h3>
        </figcaption>
      </figure>
    </div>

    <div class="biography">
      <p>
        Родился: 28 октября 1955 года (68 лет), Сиэтл, Вашингтон, США <br>
        Рост: 177 см <br>
        В браке с: Мелинда Гейтс (1994-2021 гг.) <br>
        Родители: Мэри Максвелл Гейтс, Билл Гейтс ст. <br>
        Дети: Рори Джон Гейтс, Фиби Адель Гейтс, Дженнифер Кэтрин Гейтс <br>
        Родной город: Сиэтл <br>
      </p>
    </div>
    
    <blockquote class="quote">
        &ldquo;Patience is a key element of success.&rdquo;<br> 
        &ldquo;If you think your teacher is tough, wait till you get a boss.&rdquo;<br>
        &ldquo;Life is not fair — get used to it!&rdquo;<br>
        &ldquo;Success is a lousy teacher. It seduces smart people into
        thinking they can’t lose.&rdquo;<br>
        &ldquo;Be nice to nerds.Chances are you’ll end upworking for one.&rdquo;<br>
                                                           <h3>P.S. Bill Gates</h3>
      </blockquote>
      <div>
          <h4>Cсылки на ресурсы с информацией о Гейтсе:</h4>
        <ul id="link-list">
            <li><a href="https://en.wikipedia.org/wiki/Bill_Gates;">https://en.wikipedia.org/wiki/Bill_Gates;</a></li>
            <li><a href="https://www.gatesfoundation.org/;">https://www.gatesfoundation.org/;</a></li>
            <li><a href="https://www.gatesnotes.com/;">https://www.gatesnotes.com/;</a></li>
            <li><a href="https://twitter.com/billgates.">https://twitter.com/billgates.</a></li>
        </ul>
      </div>
  </div>  
  
</body>
</html>